body {
    background:linear-gradient(to bottom, #053b82,#ff5959);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'PressStart', sans-serif;
    color: #ffffff;

}
@font-face {
    font-family: 'PressStart';
    src: url('PressStart2P-Regular.ttf');
}
.startButton{
    background-color: #fa003f;
    color: #ffffff;
    display: block;
    width: 350px;
    height: 50px;
    font-family: 'PressStart';
    text-align: center;
    border: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px #58363e;
    margin-left: 450px ;
    
}    
.connexionButton{
    background-color: #1ab5d1;
    color: #ffffff;
    display: block;
    width: 350px;
    height: 50px;
    font-family: 'PressStart';
    text-align: center;
    border: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px #58363e;
    margin-left: 390px ;
}    
.inscriptionButton {
    background-color: #74c476;
    color: #ffffff;
    display: block;
    width: 350px;
    height: 50px;
    font-family: 'PressStart';
    text-align: center;
    border: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px #58363e;
    margin-left: 450px;
    
}    


.site-title {
    text-align: center;
    margin: 0px;



    
    
}    
.box1 {
    position: relative; 
    width:900px ;
    height:200px;
    top: -490px;
    left: 170px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #58363e88;   
}    
.boitedejeu{
    position:absolute;
    top:auto;
    width: 150px;
    height: 200px;
    background-color: #333; 
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-button{
    position:absolute;
    top: 30px;
    margin-left: 400px;
    color:#ffffff;
    text-align: left;
    width: 300px;
    height: 30px;
    background-color: #00000036;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    
    
}
.box2 {
    position: relative;
    width:300px ;
    height:150px;
    margin-top: 50px;
    left: 170px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #58363e;   
}    
a {
    text-decoration: none;
    color: #ffffff;

}
a:hover { 
    color: #e473c6;



}
.class-haut-de-page-principale{
        color: #ffffff;
         display:flex;
         align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
        background-color: rgba(0, 0, 0, 0.2); 


}
.menu-gauche {
    display: flex;
    flex-direction: column; 
    gap: 30px;
    min-width: 200px;
}