body {
    background:linear-gradient(to bottom, #053b82,#ff5959);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, #ffffff;

}
.search-button {
    background-color: #0e0e0e79;
    color: white;
    border: none;
    padding: 10px 110px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;


}