body {
    background:linear-gradient(to bottom, #053b82,#ff5959);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'PressStart', sans-serif;
    color: #ffffff;

}
.search-button {
    background-color: #0e0e0e79;
    color: white;
    border: none;
    padding: 10px 110px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;


}
@font-face {
    font-family: 'PressStart';
    src: url('PressStart2P-Regular.ttf');
}
.startButton {
    background-color: #ac2525;
    color: #f1ff59;
    display: block;
    position: absolute;
    top: 340px;
    left: 170px;
    width: 350px;
    height: 50px;
    font-family: 'PressStart';
    text-align: center;
    border: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px #58363e;;
}              
.buttonstyle {
    background-color: #ac2525;
    color: #f1ff59;
    display: block;
    margin: 20px auto;
    width: 350px;
    height: 50px;
    font-family: 'PressStart';
    text-align: center;
    border: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px #58363e;
}  
